/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.link {
    stroke: #4c7787;
    stroke-opacity: 1;
    cursor: pointer;
}
.label {
    pointer-events: none;
    fill: #bbb;
    text-shadow: 0px 0px 2px black;
    font-family: 'Cascadia';
}
.link-label {
    font-family: 'Cascadia';
    font-size: 7px;
}
.node:hover {
    stroke: #fff;
    stroke-width: 0.4px;
}

.settings-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    font-size: 24px;
    color: #bbb;
    z-index: 999; /* Ensure the icon stays above other elements */
}
.dropdown-menu {
    font-family: 'Cascadia';
    display: none;
    position: absolute;
    top: 13px; /* Position on top of the settings icon */
    right: 10px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    z-index: 1000; /* Ensure the menu stays above other elements */
}
.dropdown-menu.open {
    display: block;
}
.menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    font-family: sans-serif;
}
.menu-header .icon {
    cursor: pointer;
    font-size: 16px;
    color: #bbb;
    margin-left: 10px;
}
.menu-header .icon:hover {
    color: #fff;
}
.accordion-item {
    margin-bottom: 10px;
    color: #a3aecb;
}

.slider {
    width: 100% !important;
}

.slider-container {
    margin-bottom: 8px;
}

#score-threshold-label {
    text-wrap: nowrap;
}

#refresh-icon {
    font-size: 22px;
    margin-top: -6px;
}

.accordion-header {
    cursor: pointer;
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    align-items: center;
}
.accordion-header:hover {
    background-color: #555;
}
.accordion-content {
    display: none;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}
.accordion-content.show {
    display: block;
}
.dropdown-indicator {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.radio-container {
    margin-top: 10px;
}

.radio-container label {
    margin-right: 10px;
    color: #a3aecb;
}

.settings-item-content-label {
    margin-right: 20px;
}

.selection-box {
    stroke: #00f;
    stroke-width: 1;
    fill: rgba(0, 0, 255, 0.3);
}
